.contactme {
  width: 100%;
  background-image: url("http://www.mmasynergy.com/images/inner-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;

  p {
    text-align: center;
    width: 50%;
  }
}

.contact__overlay {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: rgba(0, 0, 0, 0.921);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: var(--color-blue);
    text-transform: none;
  }
}

form {
  width: 80%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #80FFDB, #5390D9);
  overflow: hidden;
  flex-direction: column;
  border-radius: 20px;
}

form button {
  padding: 10px 15px;
  background-color: var(--color-blue);
  border-radius: 3px;
  transition: 0.5s linear;
  color: white;
  text-transform: uppercase;
}

form button:hover {
  background-color: var(--color-grey);
  font-weight: bold;
  text-align: center;
  color: var(--color-blue);
}

.form__contact {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .form__contact-info {
    display: flex;
    flex-direction: column;
    height: 50%;
  }

  .form__contact-date {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 50px;
    }
  }

  .form__contact-moreinfo {
    display: flex;
    flex-direction: column;
  }
}

.headtext__cormorant {
  text-align: center;
}

.form__contact input {
  width: 100%;
  height: 50px;
  margin-bottom: 10%;
  border: 0;
  margin-top: 2%;
  padding-left: 3%;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgb(218, 218, 218);
}

.form__contact textarea {
  width: 300px;
  margin-bottom: 10%;
  border: 0;
  margin-top: 2%;
  height: 150px;
  color: black;
  box-shadow: 0 0 48px 0 rgb(218, 218, 218);
  padding-left: 3%;
}

.app__contact-contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  h2 {
    text-align: center;
    z-index: 9;
    color: white;
  }

  p {
    width: 100%;
    text-transform: none;
  }
}

.app__navbar-smallscreen {
  display: none;
}

@media screen and(max-width: 1150px) {

  .contactme {
    height: 150vh;

    .contact__overlay {
      padding-top: 5%;
    }

    .row {
      margin-top: 20px;
      flex-flow: nowrap;
      flex-direction: column;
      flex-grow: 1;

      p {
        text-align: center;
        width: 100%;
      }
    }

    .contact__overlay {
      height: 125vh;
    }

    form {
      margin-top: 50px;
    }

    h1 {
      font-size: 3rem;
    }
  }
  .form__contact {
    width: 100%;
    flex-direction: column;

    .form__contact-date {
      flex-direction: row;

      span {
        margin: 0 15px;
      }
    }
  }
  .form__contact textarea {
    width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .contactme {
    height: 150vh;

    .form__contact {
      flex-direction: column;

      .form__contact-date {
        flex-direction: column;

        span {
          margin: 0;
        }
      }
    }


    .contact__overlay {
      height: 150vh;
    }

    form {
      margin-top: 0;
      width: 70vw;
      padding-bottom: 20px;
    }

    h1 {
      font-size: 2rem;
    }

    .form__contact textarea {
      width: 200px;
      height: 100px;
    }

    .form__contact input {
      height: 40px;
    }

    .form__contact-date input {
      margin-bottom: 15px
    }
  }
}

@media screen and (max-width: 600px) {
  .contactme {

    h1 {
      font-size: 1.3rem;
    }

    span {
      font-size: 0.8rem;
    }
  }
}
